.footer{
    height: 4.5em;
    padding: 5px;
    background: rgba(0, 225, 255, 0.2);
    font-family: 'Source Serif Pro', serif;
    bottom: 0;
}

.footer_start{
    display: flex;
    justify-content: space-between;
}

.footer h1 {
    color: #281f1f;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 700;
}

.footer h2{
    text-decoration: underline;
}

.footer .footer_info{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer h2,
.footer h4 {
    padding: 5px 5px 5px 0;
    color: #281f1f;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.footer h4{
    font-size: 16px;
}