.header{
    margin: -16px 0 0 16px;
    height: 3em;
    background: rgba(111, 255, 229, 0.3);
    font-family: 'Source Serif Pro', serif;
}

.links h1{
    color: #281f1f;
    font-size: 2em;
    font-style: italic;
    display: inline-block;
}

.links p{
    display: flex;
    justify-content: space-evenly;
    display: inline-block;
    padding: 0 21px;
    position: relative;
    bottom: 5px;
}