@font-face {
    font-family: 'Vimala New', monospace;
    src: url(fonts/vimalanew.otf) format('opentype');
}

.links h1 {
    font-family: 'Vimala New', monospace;
    color: #222222;
    font-size: 2rem;
    font-style: italic;
    font-weight: 700;
    display: inline-block;
}

.links p {
    color: #222222;
    display: flex;
    justify-content: space-evenly;
    display: inline-block;
    padding: 0 1rem;
    position: relative;
    bottom: .2rem;
    font-size: 1.15rem;
}

.links p:hover {
    text-decoration: overline;
    text-decoration-thickness: 20%;
    text-decoration-color: #C59CD9;
}

.override {
    pointer-events: none;
    display: inline-block;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

button {
    color: #222222;
    text-decoration: none;
    ;
}

/* Top Navigation Bar */

/* <nav> */
.navbar {
    height: 3rem;
    background: rgba(111, 255, 229, 0.5);
    font-family: 'Source Serif Pro', serif;
    min-width: 100vw;
    padding: 0 1rem;
}

/* <ul> */
.navbar_nav {
    max-width: 100%;
    height: 100%;
    display: flex;
}

/* <li> */
.nav_item {
    display: inline-block;
}

/* Icon Button */
.icon_button {
    min-width: 130px;
    margin-top: .2rem;
    height: 40px;
    color: #222222;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: rgba(111, 255, 229, 0.2);
}

.icon_button:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px;
}

.icon_button:hover:after {
    opacity: 1;
    right: 10px;
}

.icon_button:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}

.icon_p {
    margin-top: .1rem;
    color: #222222;
    display: flex;
    justify-content: space-evenly;
    display: inline-block;
    padding: 0 1rem;
    position: relative;
    bottom: .2rem;
    font-size: 1.15rem;
}
/* Dropdown Menu */

.dropdown {
    position: absolute;
    top: 3.5rem;
    width: 17rem;
    transform: translateX(-45%);
    background-color: rgba(111, 255, 229, 0.3);
    border: 1px solid rgba(111, 255, 229, 0.3);
    border-radius: 8px;
    padding: 0.5rem;
    overflow: hidden;
    transition: height 500ms ease;
}

.menu {
    width: 100%;
}

.menu_item {
    color: #222222;
    height: 1.5rem;
    display: flex;
    align-items: center;
    border-radius: 8px;
    transition: background 500ms;
    padding: 0.5rem;
}

.linklist {
    color: #222222;
    display: flex;
    justify-content: space-evenly;
    display: inline-block;
    position: relative;
    bottom: .2rem;
    font-size: 1rem;
}

/* CSSTransition classes  */
.menu_primary_enter {
    position: absolute;
    transform: translateX(-110%);
}

.menu_primary_enter_active {
    transform: translateX(0%);
    transition: all 500ms ease;
}

.menu_primary_exit {
    position: absolute;
}

.menu_primary_exit_active {
    transform: translateX(-110%);
    transition: all 500ms ease;
}