.header{
    height: 3rem;
    background: rgba(111, 255, 229, 0.5);
    font-family: 'Source Serif Pro', serif;
    min-width: 100vw;
}

.links h1{
    color: #281f1f;
    font-size: 2rem;
    font-style: italic;
    display: inline-block;
}

.links p{
    color: #281f1f;
    display: flex;
    justify-content: space-evenly;
    display: inline-block;
    padding: 0 21px;
    position: relative;
    bottom: 5px;
    font-size: 1.15rem;
}

.links p:hover {
    text-decoration: overline;
    text-decoration-thickness: 20%;
    text-decoration-color: #C59CD9;
}