.container {
    max-width: auto;
    min-height: calc(100vh - 9em);
    margin: 1rem 0rem 0rem 0rem;
}

.about_intro {
    margin: 50px 100px;
}

.about_body {
    margin: 50px 100px 250px 100px;
}

.about_intro,
.photo_group1,
.photo_group2,
.photo_group3,
.photo_group4,
.photo_group5 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
