@font-face {
    font-family: 'Vimala New', monospace;
    src: url(fonts/VimalaNew.otf) format('opentype');
}

.about_container {
    max-width: auto;
    min-height: calc(100vh - 9em);
    margin: 1rem 0rem 0rem 0rem;
}

.about_container a {
    text-decoration: none;
    color: #00008b;
}

.about_container a:hover {
    text-decoration: underline;
    text-decoration-thickness: 20%;
    text-decoration-color: #C59CD9;
}

.about_intro {
    margin: 4.5rem 5rem 0rem 5rem;
}
.about_intro span{
    font-family: 'Vimala New', monospace;
    font-weight: bold;
    font-style: italic;
}

.about_body {
    margin: 4rem 5rem;
}

.about_intro,
.photo_group1,
.photo_group3,
.photo_group4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}