.container {
    max-width: auto;
    min-height: calc(100vh - 9em);
    margin: 1rem 0rem 0rem 0rem;
}

.energy_body {
    margin: 50px 100px 250px 100px;
}

.energy_intro h1 {
    font-weight: bold;
    margin: 6.25rem 5rem 0rem 5rem;
}

.energy_intro h1,
.energy_body h4 {
    color: #000000;
}

.energy_body hr {
    color: #5D3FD3;
}