@font-face {
    font-family: 'Vimala New', monospace;
    src: url(fonts/VimalaNew.otf) format('opentype');
}

.container {
    max-width: auto;
    min-height: calc(100vh - 9em);
    margin: 1rem 0rem 0rem 0rem;
}

.energy_body {
    margin: 50px 100px 0px 100px;
}

.energy_intro h1 {
    font-weight: bold;
    margin: 6.25rem 5rem 0rem 5rem;
    font-family: 'Vimala New', monospace;
    font-style: italic;
    font-weight: bold;
    font-size: 3rem;
}

.energy_intro h1,
.energy_body h4 {
    color: #000000;
}

.energy_body hr {
    color: #007575;
}

.span2 {
    font-family: 'Vimala New', monospace;
    font-style: italic;
    font-weight: bold;
}

.energy_body span{
    font-family: 'Vimala New', monospace;
    font-style: italic;
    font-weight: bold;
}

.energy_body h3 {
    background-color: rgba(5, 171, 196, .3);
    font-family: 'Vimala New', monospace;
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    border-radius: 18%;
    padding: .5rem;
}