.container {
    max-width: 100vw;
    min-height: calc(100vh - 8.5em);
    margin: 1.5rem 0rem 1rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner {
    font-family: 'Source Serif Pro', serif;
    margin: 17rem 5rem;
}