.container {
    max-width: auto;
    min-height: calc(100vh - 9em);
    margin: 1rem 0rem 0rem 0rem;
}

.resources_intro h5,
.resources_body h5 {
    color: black;
}

.resources_body a {
    text-decoration: none;
    color: #00008b;
}

.resources_body a:hover {
    text-decoration: underline;
    text-decoration-thickness: 20%;
    text-decoration-color: #C59CD9;
}