.container {
    max-width: auto;
    min-height: calc(100vh - 9em);
    margin: 1rem 0rem 4rem 0rem;
}

.review {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.testimonials_intro h1 {
    color: #001871;
}

.testimonials_body h3,
.testimonials_body h4{
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
    color: #030170;
}

.testimonials_body hr {
    color: #1338be;
}

.testimonials_body h5 {
    color: black;
}